* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

body {
    text-align: center;
    line-height: 1.5;
    font-size: 1.6rem;
    background-color: #333;

}

a {
    text-decoration: none;
}

p {
    padding: 1.6rem 0;
}

/*HEADER*/
header {
    height: 45rem;
    color: white;

}

header .bg-image {
    position: absolute;
    background-image: url(bg.jpeg);
    background-size: cover;
    background-position: center;
    height: 45rem;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

header h1 {
    padding: 11rem;
    padding-bottom: 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: .5rem 0;


}

.btn:hover {
    transition: opacity 2s;
    opacity: .4;

}

/*MAIN*/

#section-a {
    background-color: snow;
    color: black;
    padding 3.2rem 0;
}

#section-b {
    padding: 1.6rem;

}

#section-b ul {
    list-style: none;

}

#section-b li {
    background-color: white;
    color: black;
    margin-top: 1.2rem;
}

#section-c {
    background-color: snow;
    color: black;
    padding: 5rem;
}



@media screen and (min-width: 700px) {
    #section-b li {
        width: 28%;
        margin: 1%;
        display: inline-block;
    }
    #birinci{
        width: 50%;
        display: inline-block;
    }
    #ikinci{
        width: 50%;
        display: inline-block;
        float: left;
    }

    
}
